.order-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75em;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  margin-top: 1em;
}

.row {
  display: flex;
  align-items: center;
}

.label {
  width: 50%;
  padding-right: 10px;
}

.value {
  width: 50%;
}
