aside {
  margin-left: 1em;
  background-color: rgba(248, 248, 250, 1);
  border-radius: 1em;
  padding: 1em;
  height: fit-content;
  // min-width: 20%;
}

aside ul {
  list-style-type: none;
  padding: 0;
}
.rating-bar {
  background-color: rgba(248, 248, 250, 1);
  margin-left: 1em;
}
ul {
  margin-left: 1em;
}
.clear {
  margin-left: 2em;
}
.search {
  background-color: rgba(0, 66, 37, 1);
  color: rgba(248, 248, 250, 1);
}
.button {
  border-radius: 2em;
  border: 2px solid rgba(0, 66, 37, 1);
}
input[type="radio"] {
  accent-color: rgba(0, 66, 37, 1);
}
input[type="checkbox"] {
  accent-color: rgba(0, 66, 37, 1);
}
