<aside>
  <form [formGroup]="form" (submit)="submit()" (reset)="resetForm()">
    <article>
      <h4>Price</h4>
      <ul>
        <li>
          <input
            type="radio"
            id="10-30"
            name="price"
            value="10000-30000"
            formControlName="price"
            (change)="changePrice(1)"
          /><label for="10-30">{{ "<" + 30000 }}</label>
        </li>
        <li>
          <input
            type="radio"
            id="30-70"
            name="price"
            value="30000-70000"
            formControlName="price"
            (change)="changePrice(2)"
          /><label for="10-30">30,000-70,000</label>
        </li>
        <li>
          <input
            type="radio"
            id="70-100"
            name="price"
            value="70000-100000"
            formControlName="price"
            (change)="changePrice(3)"
          /><label for="10-30">70,000+</label>
        </li>
      </ul>
    </article>
    <article>
      <h4>Rating</h4>
      <div class="rating-bar">
        <rating-star (ratingStarEvent)="getRating($event)"></rating-star>
      </div>
    </article>
    <article>
      <h4>Type</h4>
      <ul>
        <li>
          <input
            type="radio"
            id="hotel"
            name="type"
            value="hotel"
            formControlName="type"
          />
          <label for="10-30">Place to stay</label>
        </li>
        <li>
          <input
            type="radio"
            id="food"
            name="type"
            value="food"
            formControlName="type"
          />
          <label for="10-30">Place to eat</label>
        </li>
        <li>
          <input
            type="radio"
            id="travel"
            name="type"
            value="travel"
            formControlName="type"
          />
          <label for="10-30">Place to travel</label>
        </li>
      </ul>
    </article>
    <article>
      <h4>Traveler No</h4>
      <ul>
        <li>
          <input
            type="radio"
            id="1-2"
            name="personNo"
            value="1-2"
            formControlName="personNo"
            (change)="changePersonNo(1)"
          />
          <label for="10-30">1-2</label>
        </li>
        <li>
          <input
            type="radio"
            id="2-8"
            name="personNo"
            value="2-8"
            formControlName="personNo"
            (change)="changePersonNo(2)"
          />
          <label for="10-30">2-8</label>
        </li>
        <li>
          <input
            type="radio"
            id="8+"
            name="personNo"
            value="8+"
            formControlName="personNo"
            (change)="changePersonNo(3)"
          />
          <label for="10-30">8+</label>
        </li>
      </ul>
    </article>
    <div class="full-width">
      <input class="button search" type="submit" value="Search" />
      <input class="button clear" type="reset" value="Clear" />
    </div>
  </form>
</aside>
