<aside>
  <form [formGroup]="form" (submit)="submit()">
    <article>
      <h4>Price</h4>
      <ul>
        <li>
          <input
            type="radio"
            id="10-30"
            name="price"
            value="10000-30000"
          /><label for="10-30">10,000-30,000</label>
        </li>
        <li>
          <input
            type="radio"
            id="30-70"
            name="price"
            value="30000-70000"
          /><label for="10-30">30,000-70,000</label>
        </li>
        <li>
          <input
            type="radio"
            id="70-100"
            name="price"
            value="70000-100000"
          /><label for="10-30">70,000 - 100,000</label>
        </li>
      </ul>
    </article>
    <article>
      <h4>Rating</h4>
      <div class="rating-bar">
        <rating-star></rating-star>
      </div>
    </article>
    <article>
      <h4>Type</h4>
      <ul>
        <li>
          <input type="radio" id="hotel" name="type" value="hotel" />
          <label for="10-30">Place to stay</label>
        </li>
        <li>
          <input type="radio" id="food" name="type" value="food" />
          <label for="10-30">Place to eat</label>
        </li>
        <li>
          <input type="radio" id="travel" name="type" value="travel" />
          <label for="10-30">Place to travel</label>
        </li>
      </ul>
    </article>
    <article>
      <h4>Traveler No</h4>
      <ul>
        <li>
          <input type="checkbox" id="1-2" name="personNo" value="1-2" />
          <label for="10-30">1-2</label>
        </li>
        <li>
          <input type="checkbox" id="2-8" name="personNo" value="2-8" />
          <label for="10-30">2-8</label>
        </li>
        <li>
          <input type="checkbox" id="8+" name="personNo" value="8+" />
          <label for="10-30">8+</label>
        </li>
      </ul>
    </article>
    <input class="button search" type="submit" value="Search" />
    <input class="button clear" type="submit" value="Clear" />
  </form>
</aside>
