.tour-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.tour-list-main {
  margin-left: 2em;
  margin-right: 2em;
}
filter {
  width: 20em;
}
h2 {
  color: rgba(0, 66, 37, 1);
  font-weight: bold;
}
