<article class="tour-main" (click)="handleClick()">
  <div class="tour-main-container">
    <div class="tour-main-image">
      <img [src]="imgPath" [alt]="imgPath" />
      <h4>{{ tourName }}</h4>
    </div>
    <div class="tour-main-rating">
      <p>TourLevel: {{ tourLevel }}</p>
      <p>TourPrice: {{ tourPrice }}</p>
    </div>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
      numquam a vel placeat officiis fugit, fuga illo cupiditate laudantium quis
      consectetur doloribus. Pariatur rem doloremque ea aliquam laudantium
      libero blanditiis?
    </p>
  </div>
</article>
