<article class="home-search-section">
  <div class="home-search">
    <h2>What do you want to do? <br /><br />We will help you.</h2>
    <div class="home-search-list">
      <ul>
        <li (click)="searchList(null)">Search all</li>
        <li (click)="searchList({ type: 'food' })">Things to do</li>
        <li (click)="searchList({ type: 'hotel' })">Restaurants</li>
        <li (click)="searchList({ type: 'travel' })">Vacation Rentals</li>
      </ul>
    </div>
    <div class="home-search-input-wrapper">
      <div class="home-search-input form-group">
        <input
          class="form-control"
          type="text"
          placeholder="Places to go, things to do, restaurants..."
        />
        <button (click)="searchList(null)">Search</button>
      </div>
    </div>
  </div>
  <img class="home-img" src="../../assets/home_page_img.png" alt="Home image" />
</article>
<section class="sug-place">
  <app-tour-list
    [title]="'Suggested places'"
    [showFilter]="false"
    [initFilter]="{ limit: 4 }"
  ></app-tour-list>
</section>
<div class="home-recomandation">
  <section>
    <h4>Travel</h4>
    <article>
      <h4>Your body can stand almost anything</h4>
      <img
        src="../../assets/otgontenger.jpg"
        (click)="searchList({ type: 'travel' })"
      />
    </article>
  </section>
  <section>
    <h4>Food</h4>
    <article class="reverse">
      <h4>Explore Mongolian cuisines</h4>
      <img src="../../assets/food.jpg" (click)="searchList({ type: 'food' })" />
    </article>
  </section>
  <section>
    <h4>Hotel</h4>
    <article>
      <h4>Comfort is our priority</h4>
      <img
        src="../../assets/hotel.jpg"
        (click)="searchList({ type: 'hotel' })"
      />
    </article>
  </section>
</div>
